<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.personaltaskmanager"
    xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:name=".TaskManagerApp"
        android:allowBackup="true"
        android:label="Personal Task Manager"
        android:theme="@style/Theme.PersonalTaskManager">


        <activity android:name="com.example.personaltaskmanager.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>
</manifest>